[submodule ".registry"]
	path = .registry
	url = https://github.com/rogiersbart/rogiersbart.r-universe.dev
	branch = HEAD
[submodule "RMODFLOW"]
	path = RMODFLOW
	url = https://github.com/rogiersbart/RMODFLOW
[submodule "RMODPATH"]
	path = RMODPATH
	url = https://github.com/cneyens/RMODPATH
[submodule "RMT3DMS"]
	path = RMT3DMS
	url = https://github.com/rogiersbart/RMT3DMS
[submodule "arg"]
	path = arg
	url = https://github.com/rogiersbart/arg
[submodule "bro"]
	path = bro
	url = https://github.com/rogiersbart/bro
[submodule "ipapi"]
	path = ipapi
	url = https://github.com/hrbrmstr/ipapi
	registered = false
[submodule "morphology"]
	path = morphology
	url = https://github.com/rogiersbart/morphology
[submodule "nmhsa"]
	path = nmhsa
	url = https://github.com/rogiersbart/nmhsa
[submodule "ra"]
	path = ra
	url = https://github.com/rogiersbart/ra
[submodule "raylibr"]
	path = raylibr
	url = https://github.com/rogiersbart/raylibr
	branch = prefix-class-names
[submodule "rsthemes"]
	path = rsthemes
	url = https://github.com/gadenbuie/rsthemes
	registered = false
[submodule "rui"]
	path = rui
	url = https://github.com/rogiersbart/rui
[submodule "sass"]
	path = sass
	url = https://github.com/rstudio/sass
	registered = false
[submodule "spectralscale"]
	path = spectralscale
	url = https://github.com/rogiersbart/spectralscale
[submodule "std"]
	path = std
	url = https://github.com/rogiersbart/std
[submodule "ti"]
	path = ti
	url = https://github.com/rogiersbart/ti
