[submodule ".registry"]
	path = .registry
	url = https://github.com/rogiersbart/rogiersbart.r-universe.dev
	branch = HEAD
[submodule "RMODFLOW"]
	path = RMODFLOW
	url = https://github.com/rogiersbart/RMODFLOW
[submodule "ti"]
	path = ti
	url = https://github.com/rogiersbart/ti
